// img{
// width:   100%;
// }
.app-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 24px;
  position: relative;

  .app-header-left{
    flex-grow: 1;
    display: flex;
    align-items: center;
    .app-icon{
      width: 26px;
      margin-top: 5px;

    }
    .title-header{
      color: black;
      margin: 0;
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      margin: 0 32px;
    }
    .search-wrapper{
      border-radius: 20px;
    background-color: white;
    padding-right: 12px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 480px;
    color: black;
    box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
    overflow: hidden;
    .search-input{
      border: none;
      flex: 1;
      outline: none;
      height: 100%;
      padding: 0 20px;
      font-size: 16px;
      background-color: white;
      color: var(--main-color);
  }
    }

    }

  }
  .app-header-rigth{
    display: flex;
    align-items: center;
    .mode-switch{
      border: none;
      background-color: transparent;
      margin-left: 10px;

    }
    .add-button{
      border: none;
      background-color: transparent;
      margin-left: 10px;
    }
    .notification-btn{
      border: none;
      background-color: transparent;
      padding: 0 10px;
    }
    .profile-btn{
      padding: 0;
      border: 0;
      background-color: transparent;
      display: flex;
      align-items: center;
      padding-left: 12px;
      border-left: 2px solid #ddd;
      .profile-btn-img{
        width: 32px;
    height: 32px;

    object-fit: cover;
    border-radius: 50%;
    margin-right: 4px;
      }
    }


  .name-user{
    font-size: 20px;
    font-weight: 600;

  }
  }


// border-radius: 50%;
//     object-fit: cover;
//     width: 40px;
//     height: 40px;
