// img{
// width:   100%;
// }
.app-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;

  .app-header-left{
    display: flex;
    align-items: center;
    .title-header{
    font-family: "DM Sans", sans-serif;
    color: black;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 32px;
    }
    .search-wrapper{
      border-radius: 20px;
      background-color: white;
      padding-right: 12px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      //esto se modifica con el media queries
      width:100%;
      box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
      overflow: hidden;
      .input-header{
        border: none;
        padding: 0 20px;
        font-size: 16px;
      }

    }

  }
  .app-header-rigth{
    display: flex;
    align-items: center;
    .mode-switch{
      border: none;
      background-color: transparent;
      margin-left: 10px;
    }
    .add-button{
      border: none;
      background-color: transparent;
      margin-left: 10px;
    }
    .notification-btn{
      border: none;
      background-color: transparent;
      margin-left: 10px;
    }

  .name-user{
    font-size: 20px;
    font-weight: 600;

  }
  }

}
// border-radius: 50%;
//     object-fit: cover;
//     width: 40px;
//     height: 40px;
