<div class="amarello">
  <div class="amaru">
    <div class="status-lin">
      <div class="line-number"> 54</div>
      <div class="line-tiltle"> In Progress</div>

      <div class="line-number"> {{lineData.number}}</div>
      <div class="line-tiltle"> {{lineData.title}}</div>

    </div>

  </div>
  <div class="view-actions">
    <div class="list-view">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAGRJREFUSEvtkjsKACAMQyN4/ws76OIHQUgKFkHaOTRpXhOcJznvRxjQhp9UVHusYV4AZBp1CbbQpwvcDQxhufQJAx7LoFAYDCbqWjPk6wZqUkkXkE81BWTpeabozy+ydUDU7hU1ApwMGeTiyUAAAAAASUVORK5CYII=" />
    </div>
    <div class="grid-view">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAIFJREFUSEvtlDEOgDAMA68fQzDwayTgZbC0DKlCItF2QOlaK1bs2InOL3Wez3CCHZiVrQ5gyX8nMDlw1QaXIVnZ2ItTCaR0ZaAksHBBYCugaah5/dnktzPdgDUze3Hjg9a8OaQHkWSZePuOsylRFc91emvYi6s88CbUi/thkptXxQ1yhTgZtMdz8gAAAABJRU5ErkJggg==" />
    </div>

  </div>


</div>
