<div class="container">

  <app-header></app-header>

  <div class="app-content">

    <app-side-bar></app-side-bar>

    <div class="projects-section">
      <div class="projects-section-header">
        <p>Projects</p>
        <p class="date-time">December , 12 </p>
      </div>
      <div class="projects-section-line">
       <div class=" section-line">
        @for (item of infoProgress; track $index) {
          <app-process-line [lineData]="item"> </app-process-line>
          }
       </div>
        <div class="view-actions">
          <div class="list-view">
            <img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAGRJREFUSEvtkjsKACAMQyN4/ws76OIHQUgKFkHaOTRpXhOcJznvRxjQhp9UVHusYV4AZBp1CbbQpwvcDQxhufQJAx7LoFAYDCbqWjPk6wZqUkkXkE81BWTpeabozy+ydUDU7hU1ApwMGeTiyUAAAAAASUVORK5CYII=" />
          </div>
          <div class="grid-view">
            <img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAIFJREFUSEvtlDEOgDAMA68fQzDwayTgZbC0DKlCItF2QOlaK1bs2InOL3Wez3CCHZiVrQ5gyX8nMDlw1QaXIVnZ2ItTCaR0ZaAksHBBYCugaah5/dnktzPdgDUze3Hjg9a8OaQHkWSZePuOsylRFc91emvYi6s88CbUi/thkptXxQ1yhTgZtMdz8gAAAABJRU5ErkJggg==" />
          </div>

        </div>

      </div>


      <div class="project-boxes">
        @for (item of itemCard; track $index) {
        <app-card [cardData]="item" [bgColor]="item.bgColor"></app-card>
        }
      </div>
    </div>


    <app-msn-section></app-msn-section>


  </div>

</div>



<router-outlet />
