<div class="messages-section">
  <div class="projects-section-header">


    <div class="client-msn">Client Messages</div>

  </div>
  <div class="messages">
    <div class="message-box">
   <img class="message-box-img" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=2550&amp;q=80" alt="profile image">
        <div class="message-content">
          <div class="message-header">
            <div class="name">Stephanie</div>
            <div class="icon-star">
              <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAhpJREFUSEu11UmojmEUB/DfNWZjKmwoJRkWlGShiAwpyQIboYgFYkFJ2FLKSiIlkVhIkkiIEkIpQ8RCGXaGjGFhfI7O1efe77vfe+s69fa8w3nO/zzn/z/nbfGfreU/x9cZgB64hG+Yg+9VkusMwBIcyaBxf7SrAe5hXAa9j/FdCTAdl/Exg/bFNFxpBlK1RGcwF7vQrQBtwGnM7wqAUXiEHxieAV/wRyAj8LQjkNoTzMgsByOuIbkOQvckeFkGC4IXJ+hrvMLLmvVslvQfmX5A1Lae/UqCH+THIPtOlquef4BGkv8ArC4v96b3RWxEgL6vIbdtsH7ojzjlYYxFJLM8n9s12gocSOA9WNeMRPTBKczGFyzEudZ99VS0CMcQndsMJLI/j0mIsgTI3dqkGsk05HciQdYUwvc1OMmtDP4Es/CsrV9HfRDZr8X2Mne2NQAIuQ4rM2oKrtXz6QjgOiZjHqLR6tnBJDQSiETaWSOA3kVFn8qmnhiIdxiD/fiJlYiyBF/HcbXofmpnACLzOMHDMhImlBG9FZvRK4N8zbIdwpsEDcl+rsrBpiK/nWXu30ydj86Nu3Ndn+uNIuuhycOC0ownqwLEIIvat1rMohgTt/PFxJTyyBqf6J9VVQFirkSrx98ryNuR97X7o1xbsnzRM89rhuFfv0YkX8AALMXjJt0c5Mfwe1ukOrPqCZrErP656g+nesQ2nr8BTlNiGYtIihQAAAAASUVORK5CYII="/>
            </div>
          </div>
          <div class="message-line">
            I got your first assignment. It was quite good.
             🥳 We can continue with the next assignment.
          </div>

          <div class="message-time">Dec, 12</div>
        </div>
    </div>
  </div>



</div>
<!-- <img class="img_msn" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=2550&amp;q=80" alt="profile image"> -->
