.app-sidebar {

  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .side-bar {
    cursor: pointer;
    margin: 16px 0;
    transition: 0.2s;
    border-radius: 50%;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      transform: scale(1.1);
      background-color: rgba(90, 166, 248, 0.1);
    }
  }



}
